doctype html
html lang="en"
  head
    title = title
    meta charset="UTF-8"
    meta name="viewport" content="width=device-width, initial-scale=1.0"
    meta http-equiv="X-UA-Compatible" content="ie=edge"
    
    // SEO
    meta     name= "description"    content= description
    meta property= "og:url"         content= url
    meta property= "og:title"       content= meta["og:title"]
    meta property= "og:site:name"   content= title
    meta property= "og:description" content= description
    meta property= "og:image"       content= "https//syntax.miami/assets/syntax-icon.png" 
    link      rel= "canonical"      href= url

    //Assets
    link rel="icon shortcut" type="image/png"  href="assets/icons/syntax-icon-trans.png"
    link rel="author"        type="text/plain" href="https//syntax.miami/humans.txt"
    link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet"
    link href="assets/fonts/fira_code/fira_code.css" rel="stylesheet"
    link href="assets/syntax.css" rel="stylesheet"
    
    include g_analytics
    
body
  .container
    span.logotext
      | {}
    .call-out
      p 
        | Hi. We’re
        span.txt-syntax &nbsp&#123;syntax&#125;
      span.txt-syntax &#123;&nbsp
      | Design 
      span.txt-syntax + 
      | Code
      span.txt-syntax &nbsp&#125;
  
